/*STARTER CSS*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

img,
embed,
object,
video {
    max-width: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height:100%;
    
    font-family: 'Source Sans Pro', sans-serif;
}

nav a,
button {
    min-width: 48px;
    min-height: 48px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*START OF THE SPECIFIC CSS*/

:root {
    --light-grey:#eaeaea;
    --light-grey-bg:rgba(234, 234, 234, 0.7);
    --medium-grey: #585858;
    --dark-grey: #292929;
    
    --navbar-height: 50px;
    --sidebar-width: 200px;
    
    --palette-1-1: #efff9d;
    --palette-1-2: #2aa9d2;
    --palette-1-3: #1874c3;
    --palette-1-4: #2931b3;

    --palette-2-1: #35d0ba;
    --palette-2-2: #f8c43a;
    --palette-2-3: #c93d1b;
    --palette-2-4: #04322e;
}

body {
    background: #fff;
    color: var(--dark-grey);
    height: 100%;
    min-height: 100vh;
    max-width: 100vw;
}

a,
li,
.link,
select,
button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

#home-container {
    min-height: 100vh;
    display: grid;
}

nav {
    height: var(--navbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(24, 116, 195), #2aa9d2);
}

h1 {
    color: #fff;
    max-width: 70vw;
    text-align: center;
}                                                                                                                                                                                                                                   
#sidebar-hamburger {
    width: 50px;
    height: 35px;
    color: #fff;
    background: none;
    border: none;    
    font-size: 1.7em;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 10px;
}

sidebar-hamburger:hover {
    color: var(--light-grey);
}

#container-map-sidebar {
    display: flex;
    flex-direction: row;
}

#map {
    height: calc(100vh - var(--navbar-height));
    width: 100%;
}

#map button {
    min-width: 0;
    min-height: 0;
}

#gmap-fail-alternative {
    background: var(--palette-2-1);
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    z-index: 2;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gmap-fail-alternative p {
    max-width: 500px;
    margin: 15px;
}

aside {
    width: var(--sidebar-width);
    background: linear-gradient( rgb(239, 255, 157), rgb(248, 196, 58));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding: 30px 0;
}

.aside-hidden {
    display: none;
}

aside > * {
}

aside > form > * {
    margin: 15px 0;
}

li {
    margin: 10px 0;
}

aside li > button {
    color: var(--dark-grey);
    text-decoration:none;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    min-height: 30px;
    font-size: 1em;
}
    
aside li > button:visited {
    color: var(--dark-grey);
    text-decoration:none;
}

#clear-filters {
    color: var(--palette-1-3);
}

#clear-filters:hover {
    color: red;
}

aside button {
    color: var(--palette-1-3);
}

aside button:hover {
    color: var(--palette-1-4);
}

.info-window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 60vw;
    text-align: center;
}

img.image-info-window {
    width: 200px;
}

.info-window a {
    color: #000;
}

.failure-info-text {
    max-width: 150px;
}

#credits {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: var(--palette-2-1);
    color: #fff;
}

#credits > * {
    margin: 15px 0;
}

#credits p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#credits li {
    margin: 5px 0;    
}

#credits a {
    color: var(--palette-2-4);
}

#credits a:hover {
    color: var(--palette-2-3);
}


@media screen and (max-width:500px){

    h1 {
        font-size: 1em;
    }
    aside {
        width: 70vw;
    }
    aside > * {
        margin-left: 15px;
        margin-right: 15px;
    }

}